<div id="navbar">    
    <a class="easyui-linkbutton l-btn" iconCls="icon-back" href="javascript:void(0)" data_step="prev">上一步</a>
    <a class="easyui-linkbutton l-btn" iconCls="icon-help" href="javascript:void(0)" data_step="check">检查</a>
    <a class="easyui-linkbutton l-btn" iconCls="icon-reload" href="javascript:void(0)" data_step="auto">自动</a>
    <a class="easyui-linkbutton l-btn" iconCls="icon-next" href="javascript:void(0)" data_step="next">下一步</a> 
</div>