<div id="pop_EditCase" data_rid="">
    <table class="viewarea">
        <tr>
            <td>案例名称</td>
            <td style="width: 200px">
                <input name="CaseName" type="text" value="" maxlength="20" />                
            </td>
            <td>当前状态</td>
            <td style="width: 200px">
                <input type="checkbox" name="CurrStatus" />是否启用
            </td>
        </tr>
        <tr>
            <td>案例说明</td>
            <td colspan="3">
                <textarea name="CaseText" rows="5" cols="40"></textarea>
            </td>
        </tr>
    </table>
    <div class="actbar">
        <a class="easyui-linkbutton l-btn" iconcls="icon-save" href="javascript:SaveCase()">保存</a>
        <a class="easyui-linkbutton l-btn" iconcls="icon-back" href="javascript:CancelCase()">返回</a>
    </div>
</div>