@{
    ViewBag.Title = "选择案例";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model  IEnumerable<FATS.Models.TemplateRoutine>

@section Styles {
    <link href="@Url.Content("~/css/Teachings/SelectT1Case.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/Teachings/SelectT1Case.js")" ></script>
}

@Html.Partial("SysRoutineCollection")

<div id="casearea">
    <h3 class="currname"></h3>

    <div class="tablecont">
        <table id="caselist" class="datatable table table-bordered table-striped"></table>
    </div>

    <h3>继续今天学习过的案例</h3>
    <div class="tablecont">
        <table id="studiedlist" class="datatable table table-bordered table-striped"></table>
    </div>
</div>

<div class="clearfix"></div>


<div class="modal fade" id="pop_LoadingCase" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loadingPopLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">               
                <h4 class="modal-title" id="loadingPopLabel">请稍候</h4>
            </div>
            <div class="modal-body">
                系统正在准备案例数据...
            </div>
        </div>
    </div>
</div>


