@{
    ViewBag.Title = "编辑案例";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FATS.Models.TeachingRoutine

@section Styles {
    <link href="@Url.Content("~/Content/Settings/CaseDetail.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Settings/CaseDetail.js")" ></script>    
}   

<div class="pagetitle">编辑案例</div>

<fieldset class="sectiontitle">
    
</fieldset>