@{
    ViewBag.Title = "选择案例";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model  IEnumerable<FATS.Models.TemplateRoutine>

@section Styles {
    <link href="@Url.Content("~/css/Settings/T1RoutineList.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/Settings/T1RoutineList.js")"></script>
}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    支票
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="list-group panel-collapse collapse in">


            <a href="javascript:void(0)" class="list-group-item" data-dbid="T1_DebitTransferCheck">
                跨行借记支票付款与收款
            </a>
            <a href="javascript:void(0)" class="list-group-item">跨行贷记支票付款与收款</a>
            <a href="javascript:void(0)" class="list-group-item">Morbi leo risus</a>
            <a href="javascript:void(0)" class="list-group-item">Porta ac consectetur ac</a>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    托收承付
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="list-group panel-collapse collapse">
            <a href="javascript:void(0)" class="list-group-item">
                跨行借记支票付款与收款
            </a>
            <a href="javascript:void(0)" class="list-group-item">跨行贷记支票付款与收款</a>
            <a href="javascript:void(0)" class="list-group-item">Morbi leo risus</a>
            <a href="javascript:void(0)" class="list-group-item">Porta ac consectetur ac</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    存款
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="list-group panel-collapse collapse">
            <a href="javascript:void(0)" class="list-group-item">
                跨行借记支票付款与收款
            </a>
            <a href="javascript:void(0)" class="list-group-item">跨行贷记支票付款与收款</a>
            <a href="javascript:void(0)" class="list-group-item">Morbi leo risus</a>
            <a href="javascript:void(0)" class="list-group-item">Porta ac consectetur ac</a>
        </div>
    </div>
</div>

<div id="casearea">
    <h3 class="currname">
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#pop_NewCase">
            <span class="glyphicon glyphicon-plus"></span>增加新案例
        </button>
        <span class="namelabel"></span>
    </h3>

    <div class="tablecont">
        <table id="caselist" class="datatable table table-bordered table-striped"></table>
    </div>
</div>

<div class="clearfix"></div>


<div class="modal fade" id="pop_NewCase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="frmNewCase" class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">增加新案例</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">案例名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="n_CaseName" class="form-control" placeholder="新案例名称(小于20个字)" maxlength="20" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" data-act="save" data-loading-text="保存中.." autocomplete="off">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>